{% extends "../inicio.html" %}
{% load static %}

{% block contenidoQueCambia %}
    <div class="profile-container">
        <h1 class="profile-title">Perfil</h1>
        <ul class="profile-info">
            <li><strong>Usuario:</strong> {{ user.username }}</li>
            <li><strong>Email:</strong> {{ user.email }}</li>
            <li><strong>Nombre:</strong> {{ user.first_name }}</li>
            <li><strong>Apellido:</strong> {{ user.last_name }}</li>
        </ul>
        <a href="{% url 'editarPerfil' %}" class="btn btn-success">Editar Perfil</a>
    </div>
{% endblock %}
