.contenido{
    margin-top: 5px !important;
    padding: 10px;
}

.tablaAutosEnStock {
    text-align: center;

}

.tituloTablaAutosEnStock th{
    background-color: rgb(34, 34, 34);
    color: white;
    padding-right: 150px !important;
    text-align: center !important;
}

.tablaAutosEnStock th {
    padding: 15px;
    text-align: center !important;
    padding-right: 130px !important;

}

.tituloAutosEnStock{
    margin: 20px;
    font-size: xx-large;
}

.tablaClientesCompradores{
    text-align: center;
}

.tituloTablaClientesCompradores{
    background-color: rgb(34, 34, 34);
    color: white;
    padding-right: 20px !important;
    text-align: center !important;
}

.tituloTablaClientesCompradores th {
    padding: 15px;
    text-align: center !important;
    padding-right: 20px !important;
}

.tablaClientesVendedores{
    text-align: center;
}

.tituloTablaClientesVendedores{
    background-color: rgb(34, 34, 34);
    color: white;
    padding-right: 20px !important;
    text-align: center !important;
}

.tituloTablaClientesVendedores th {
    padding: 15px;
    text-align: center !important;
    padding-right: 20px !important;
}

.tablaEmpleadosVendedores{
    text-align: center;
}

.tituloTablaEmpleadosVendedores{
    background-color: rgb(34, 34, 34);
    color: white;
    padding-right: 20px !important;
    text-align: center !important;
}

.tituloTablaEmpleadosVendedores th {
    padding: 15px;
    text-align: center !important;
    padding-right: 20px !important;
}