{% extends 'AgenciApp/inicio.html' %}
{% load static %}

{% block contenidoQueCambia %}
    <h1 class="mb-4">Mensajes</h1>
    {% for mensaje in mensajes %}
        <div class="card text-white bg-dark mb-3" style="max-width: 25rem;">
            <div class="card-body">
                <h3 class="card-title">{{ mensaje.autor.username }}</h3>
                <p class="card-text">{{ mensaje.contenido }}</p>
                {% if mensaje.imagen %}
                    <img src="{{ mensaje.imagen.url }}" alt="Mensaje Image" class="mensaje-imagen" style="max-width: 22rem; height: auto;">
                {% endif %}
                <p class="card-text" style="color: rgb(154, 154, 154); font-size: 0.75rem">{{ mensaje.timestamp }}</p>
                {% if mensaje.autor == request.user or request.user.is_superuser %}
                    <form method="POST" action="{% url 'mensajes_lista' %}">
                        {% csrf_token %}
                        <input type="hidden" name="mensaje_id" value="{{ mensaje.id }}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No hay mensajes</p>
    {% endfor %}

    <a href="{% url 'crear_mensaje' %}" class="btn btn-primary">Nuevo Mensaje</a>
{% endblock %}
