<div>
    {% extends "AgenciApp/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
            <body class="container_inicio">
                <div class="px-4 py-5 my-5 text-center" style="background: rgba(0, 0, 0, 0.65)!important;">
                
                    <div class="col-lg-6 mx-auto">
                      <p class="lead mb-4" style="color: rgb(254, 253, 253);">Mi nombre es Federico Conti, Argentino, 30 años. Mi familia tiene una pequeña pyme, del rubro industrial, donde trabajo desde que egresé del colegio secundario. Soy técnico mecatrónico, estudié ingenieria industrial pero no me recibí. Me interesa aprender cosas nuevas y siempre había tenido curiosidad por programar, por este motivo me anoté en el curso de CoderHouse.</p>
                    </div>
                </div>
            </body>
        {% endblock %}
</div>