<div>
    {% extends "AgenciApp/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <p class="tituloAutosEnStock">Autos en Stock</p>
        <table class="tablaAutosEnStock">
            <tr class="tituloTablaAutosEnStock">
                <th>Marca</th>
                <th>Modelo</th>
                <th>km</th>
                <th>Precio (U$S)</th>
                <th>Eliminar</th>
            </tr>

                {% for Auto in Autos %}
                    <tr>
                        <td>{{Auto.marca}}</td>
                        <td>{{Auto.modelo}}</td>
                        <td>{{Auto.km}}</td>
                        <td>{{Auto.precio}}</td>
                        <td><button class="btn btn-danger btnEliminar"><a href="{% url 'eliminarAuto' Auto.marca Auto.modelo %}">X</a></button></td>
                {% endfor %}

        </table>
        <div class="formSetAutosEnStock">
            {% block setAutosEnStock %}
            {% endblock %}
        </div>
        <div class="formGetAutosEnStock">
            {% block getAutosEnStock %}
            {% endblock %}
        </div>
        
        {% endblock %}
</div>