<div>
    {% extends "AgenciApp/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}
        <p>Empleados Vendedores</p>
        <table class="tablaEmpleadosVendedores">
            <tr class="tituloTablaEmpleadosVendedores">
                <th>Nombre</th>
                <th>Apellido</th>
                <th>e-mail</th>
                <th>celular</th>
                <th>Operaciones Concretadas</th>
                <th>Monto Vendido</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>

                {% for Empleado in Empleados %}
                    <tr>
                        <td>{{Empleado.nombre}}</td>
                        <td>{{Empleado.apellido}}</td>
                        <td>{{Empleado.email}}</td>
                        <td>{{Empleado.celular}}</td>
                        <td>{{Empleado.operacionesConcretadas}}</td>
                        <td>{{Empleado.montoVendido}}</td>
                        <td><button class="btn btn-danger btnEliminar"><a href="{% url 'eliminarEmpleadoVendedor' Empleado.email %}">X</a></button></td>
                        <td><button class="btn btn-warning btnEditar"><a href="{% url 'editarEmpleadoVendedor' Empleado.email %}">Editar</a></button></td>
                {% endfor %}

        </table>
        <div class="formSetEmpleadosVendedores">
            {% block setEmpleadosVendedores %}
            {% endblock %}
        </div>
        {% endblock %}
</div>