<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'AgenciApp/css/bootstrap.min.css'%}" rel="stylesheet"/>
    <link href="{% static 'AgenciApp/css/AgenciAppStyle.css'%}" rel="stylesheet"/>
    <script src="{% static 'AgenciApp/js/bootstrap.min.js'%}"></script>
    <title>Agencia de Autos | Inicio</title>
</head>
<body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'inicio' %}">Agencia de Autos</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'setAutosEnStock' %}">Autos en stock</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'setClientesCompradores' %}">Clientes Compradores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'setClientesVendedores' %}">Clientes Vendedores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'setEmpleadosVendedores' %}">Empleados Vendedores</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'mensajes_lista' %}">Mensajes</a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'perfil' %}">{{user.username}}</a></li>
                    <li class="nav-item"><a class="nav-link navText" href="{% url 'Logout' %}">Logout</a></li> 
                </ul>
            </div>
        </div>
    </nav>
    <div class="contenido">
        {% block contenidoQueCambia %}
            <body class="container_inicio">
                <div class="px-4 py-5 my-5 text-center" style="background: rgba(0, 0, 0, 0.65)!important;">
                    <h1 class="display-5 fw-bold text-body-emphasis" style="color: rgb(252, 251, 251)!important;">AgenciApp</h1>
                    <div class="col-lg-6 mx-auto">
                      <p class="lead mb-4" style="color: rgb(254, 253, 253);">Esta aplicación permite administrar la información de una agencia de autos usados. Se pueden agregar o quitar autos del stock y manejar los datos de los clientes y los empleados. Tambien permite dejar mensajes para que otros usarios registrados los puedan ver.</p>
                      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        <a href="{% url 'about' %}" class="btn btn-primary btn-lg px-4 gap-3">Sobre mi</a>
                      </div>
                    </div>
                </div>
            </body>
        {% endblock %}
    </div>
</body>
</html>

