<div>
    {% extends "AgenciApp/autosEnStock.html" %}
    {% load static %}
    
    {% block setAutosEnStock %}
        <form action="" method="post"> {% csrf_token %}
            <input placeholder="Marca" type = "text" name="marca" required>
            <input placeholder="Modelo" type = "text" name="modelo" required>
            <input placeholder="Km" type = "number" name="km" required>
            <input placeholder="Precio" type = "number" name="precio" required>
            <input class="btn btn-primary" type="submit" value="Enviar">
        </form>
    {% endblock %}    
</div>