<div>
    {% extends "AgenciApp/clientesCompradores.html" %}
    {% load static %}
    
    {% block setClientesCompradores %}
    <form action="" method="post"> {% csrf_token %}
        <input placeholder="Nombre" type = "text" name="nombre" required>
        <input placeholder="Apellido" type = "text" name="apellido" required>
        <input placeholder="email" type = "email" name="email" required>
        <input placeholder="Celular" type = "number" name="celular" required>
        <input placeholder="Auto Comprado" type = "text" name="autoComprado" required>
        <input placeholder="Monto de la operacion" type = "number" name="montoOperacionComp" required>
        <input class="btn btn-primary" type="submit" value="Enviar">
    </form>
    {% endblock %}    
</div>