<div>
    {% extends "AgenciApp/empleadosVendedores.html" %}
    {% load static %}
    
    {% block setEmpleadosVendedores %}
    <form action="" method="post"> {% csrf_token %}
        <input placeholder="Nombre" type = "text" name="nombre" required>
        <input placeholder="Apellido" type = "text" name="apellido" required>
        <input placeholder="email" type = "email" name="email" required>
        <input placeholder="Celular" type = "number" name="celular" required>
        <input placeholder="Operaciones Concretadas" type = "number" name="operacionesConcretadas" required>
        <input placeholder="Monto Ventas" type = "number" name="montoVendido" required>
        <input class="btn btn-primary" type="submit" value="Enviar">
    </form>
    {% endblock %}    
</div>